*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}


.post{
    margin-bottom: 1.2rem;
}

.post:last-child{
    margin-bottom: 3rem;
}


.serachU:last-child{
    margin-bottom: 3rem;
}